<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Mobile Automation Suite" parallel="false">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Android Tests">
        
        <classes>
            <!--            <class name="tests.TestHomeScreen"/>-->

            <!--            <class name="tests.TestLoginScreen"/>-->

            <class name="tests.TestSignUpScreen"/>

        </classes>

    </test>

</suite>